.body{
    background-color:#e9ecef;
   
    
}
.landingpage{
    background-image: url(./IMAGES/simple-uniques-friendlly.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    opacity: 50px;
    color: white;
}
.seemore2 li{
    list-style: none;
    margin-left: 3%;
    border-style: none;
    border-right: black solid 2px; 
    
}
.seemore2{
    display: flex;
    gap: 100px;
    border-radius: 50px;
    background-color: white;
    
    color: blue;
    padding: 25px 5px 25px 5px;
    margin-left: 25%;
    margin-right: 30%;
    margin-top: 10%;
}
#li{
   border-right: 0px; 
   padding-right: 10px;
}
.home{
    display: flex;
    gap: 100px;
    margin-bottom: 40%;
    margin-left: 30px;
}

#nuroshei{
width: 20px;
height: 20px;
}
.outhotels  {
   padding-top: 100px;
   
}
#image1,
#image2
{
   width: 25%;
   height: 300px;
   border-radius: 20px;
   gap: 30px;
   
}
#image3{
    width: 25%;
    height: 300px;
    border-radius: 20px;
   
}
.rates{
    width:10px;
height: 10px;
}
.seemore
{
    color: blue;
    padding:5px 14px 5px 14px;
    
    border-style: none;
    border: 2px solid blue;
    background-color: white;
    border-color: blue;
    border-radius: 5%;
  
  
}
.seemore1{
      color: white;
      padding:5px 14px 5px 14px;
    border-style: none;
    border: 2px solid blue;
    background-color:blue;
    border-radius: 5%;
}
#homebuttons{
    margin-top: 1%;
}
.buttonss{
    margin-left: 60px;
}
#checkin{
    width: 20px;
    height: 20px;
}
.popularhotels{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
}
.ourhotels{
    margin-left: 60px;
    justify-content: space-between;
   
}
#h3,
#h1{
    text-align: center;
}
#facility1
{
    background-color: whitesmoke;
    border-radius: 30px;
    border-radius: 10px;
    width:200px ;
  margin-right: 100px;
  height: 180px;
}
.ourfacilities1{
margin-bottom: 20px;

}
#star{
width: 5%;
height: 5%;
}
#rooms{
    text-align: center;
}
#roomimg1{
border-radius: 5px;
width: 300px;
height: 260px;
}
.ROOM{
    background-color: white;
    
}
.ROOM #button{
    color: blue;
}


.rooms1
{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    margin-left: 60px;
 
 
}

.rooms2{
    display: flex;
    gap: 50px;
    margin-left: 60px;
    
   
}
#menu{
    text-align: center;
}
#lunch{
    color: blue;
    
}
.Menu1,
.Menu2{
margin-bottom: 60px;
margin-left: 60px;
display: flex;
gap: 30px;


}
#food1{
    width: 300px;
    height:250px;
    border-radius: 10px;
}
.mybutton{
    border-style: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.booknow{
    border-style: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
#clientswords{
    text-align: center;
}
.REVIEWS{
    display: flex;
   gap:100px;
    
    margin-left: 90px;
}
#users,
#users2,
#users3{
    width:50px;
height: 40px;
}
#users2,
#users3{
    margin-bottom: 30px;
     margin-top: -300%;
       
}



.message{
    border: 1px white;
    margin-bottom: 10px;
    background-color: white;
    padding: 30px;
}
#arrow{
height: 20px;
width:20px ;
}
.ARROW{
    text-align: center;
}
#reccomendation{
width:60px ;
height:50px ;
}
.recommend{
    display: flex;
    gap: 30px;
}
.CHOOSEUS{
    display: flex;
    gap: 120px;
}
.WHYUS{
    margin-bottom: 30%;
}
 #buttonus{
    border-radius: 5px;
    padding: 10px 2px 10px 2px;
    background-color: blue;
    color: white;
    border-style: none;
}



.footer{
    display: flex;
    gap: 300px;
}
.newslettter{
    background-color: blue;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 50px;
}
.email{
   display: flex;
   gap: 250px;
   list-style: none;
   background-color: white;
   border-radius: 30px;
   padding: 17px 0px 6px 20px;
   margin-left: 30%;
   margin-right: 30%;

   
}
#subscribe1{
    background-color: blue;
    border-style: none;
    border-radius: 20px;
    padding: 15px 15px;
    color: white;
    
   
}
#fbicon{
    width:30px;
height: 30px;
}
.home1{
    display: flex;
    gap: 100px;
   
    /* margin-bottom: 40%;
    margin-left: 30px; */
}
.body2{
background-color: #e9ecef;
}
#aboutus{
    text-align: center;
}
.homepage{
    background-color:#e9ecef;
    
   
    
}
#roomimg2{
    border-radius: 5px;
    width: 200px;
    height: 170px;
    }
    .prices{
        margin-right: 1%;
        margin-left: 3%;

    } 
#hotel{
width: 500px;
height: 523px;
}
#hotels{
font-weight: 5px;
}
#hotels1{
    color: gray;
}
#hotels2{
    color: #343a40;
}
.fiveStar{
    display: flex;
}
.ourfood{
    background-color: white;
    padding: 2% 2% 2% 2%;
    width: 60%;
    margin-top: 10%;
    border-radius: 10%;
}
#booknow{
    border-style: none;
border-radius: 5px;
background-color: blue;
color: white;

padding: 10px 35px 10px 35px;
margin-left: 5%;
}
#notnow{
    border-style: none;
    border-radius: 5px;
    background-color:white;
    color: blue;
   
    padding: 10px 35px 10px 35px;
    margin-left: 5%;
}
 .forms input{
      padding: 6% 6% 6% 6%;  
    /* width: 5%; */

}

.footer1{
    display: flex;
    gap: 300px;
    background-color: white;
    margin-top: 5%;
}

.ourreviews{
    display: flex;
    margin-bottom: 5%;
    /* margin-right: 10%; */
  
}


#reviewsimg

{
    width: 65%;
    height: 400px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
#reviewsimg3{
    width: 65%;
    height: 400px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}
#reviewsimg2{
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    width: 65%;
    height: 400px;
}
.ourstory2{
    margin-right: 20%;
}
.ourstory3{
    margin-left: 10%;
}
#message{
    padding: 5% 5% 5% 5%;
    background-color: white;
    border-bottom-right-radius: 20%;
    width: 30%;
    margin-left: 5%;
}
.body3{
    background-color: #e9ecef; ;
}
 .forms{
    display: flex;
    gap: 10%;
}
#submit{ 
border-style: none;
border-radius: 10px;
background-color: blue;
color: white;
/* padding-top: 8px;
padding-bottom: 8px;
padding-left: 10px;
padding-right: 10px; */
padding: 10px 35px 10px 35px;
margin-left: 5%;
}
@media(max-width:800px){
    /* .landingpage{
        background-image: url(./IMAGES/simple-uniques-friendlly.png);
        background-size: 300px;
        background-repeat: no-repeat;
        background-color: black;
        /* opacity: 50px; */
        /* color: white;
    }  */
    .home{
flex-direction: column;
margin-right: 0%;
margin-left: 10%;
gap: 2%;
text-decoration: none;
}
#homebuttons{
    flex-direction: column;
}
.seemore2{
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
    width: 80%;
   
    margin-left: 10%;
   
}
.seemore2 li{
    border-right: none;
  
}
.ourhotels{
    display: grid;
    grid-template-rows: auto;
   justify-content: 0%;
   margin-left: 0%;

}
#image1,
#image2,
#image3{
    width: 300px;
    height: 200px;
    margin-bottom: 10%;
}


.rooms1 ,
.rooms2{
    flex-direction: column;
    margin-bottom: 0%;
   margin-right: 0%;
   margin-left: 0%;
} 
.ROOM{
    margin-bottom: 0%;
    margin-top: 0%;
    margin-right: 0%;
 
}
.Menu1,
.Menu2{
    flex-direction: column;
    margin-bottom: 0%;
margin-left: 0%;
}
.REVIEWS{
    flex-direction: column;
    margin-left: 0%;
}
.CHOOSEUS{
    flex-direction: column;
}
.email{
    flex-direction: column;
    gap: 0%;
    margin-left: 0%;
}
.footer{
    flex-direction: column;
    gap: 10%;
}
/* hotels.html */
.home1{
    flex-direction: column;
    gap: 5%;
 margin-right: 5%; 
}
/* .prices{
    display: grid;
    grid-template-columns: auto auto auto;
} */
.homepage{
    margin-right: 0%;
    /* width: 50%; */
}
.fiveStar{
    display: grid;
    grid-template-rows: auto auto;
    
}
.prices{
    margin-right: 0%;
     width: 60%; 

}

#roomimg2{
    width:100px ;
    height:80px ;
    grid-template-columns: auto auto auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 0%;
  
}
.footer1{
    display: grid;
    grid-template-rows: auto;
    gap: 5%;
    padding-bottom: 10%;
    margin-right: 0%;
    width: 60%; 
}
/* .roomimages{
    display: grid;
    grid-template-rows: auto auto auto;
} */
}